.game-base{
    display: flex;
    justify-content: center;
}

#grid {
    margin: 2rem auto;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #2196F3; */
    padding: 10px;
    width: 50%;

}


#grid .cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(3, 34, 34);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}


#grid .cell:hover {
    background-color: lightblue;
    cursor: pointer;
}


.cross{
    display: none;
}

.circle{
    display: none;
}