@font-face {
    font-family: batmanfa;
    src: url(/javascript/font/batmfa.ttf);
}

@font-face {
    font-family: batmanfo;
    src: url(/javascript/font/batmfo__.ttf);
}

#players{
    justify-content: space-around;
    display: flex;
    padding: 1rem;
    align-items: center;
}

.logo-XO{
    height: 125px;
}

.exit-game-row{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px;
}

.exit-btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 0px;
    font-size: 21px;
    background: white;
    color: #ff3636;
}

.exit-btn:hover{
    background: #ff3636;
    color: #fff;

}

.player-icon{
    height: 120px;
    left: 0px;
    position: absolute;
    bottom: 0px;
}

.player{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70px;
    padding: 10px;
    background: rgb(0 0 0 / 39%);
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(255 255 255 / 59%));
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.player-score-detail{
    font-family: batmanfa, sans-serif;
    text-align: center;
    padding-left: 10px;

}

.player .name{
    font-weight: 700;
    color: #371a45;
}

.player .score{
    color: #fff;
    font-size: 40px;
}